/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--scroll-bg-light);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--scroll-bg-dark);
  -webkit-box-shadow: inset 0 0 6px var(--scroll-bg-light);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--scroll-bg-dark);
}
@font-face {
  font-family: mw_logo;
  src: url(../../assets/webfonts/Symbol.ttf);
}
.logo_font {
  font-family: symbol !important;
  font-size: 60px;
}
.show_sm{
  display: none;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.outers:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(13 110 253 / 0%);
}
ul.top_h li a {
  position: relative;
}
ul.top_h li a.active {
  font-weight: 500;
}
ul.top_h li a.active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
  left: 0px;
  bottom: -1px;
}
.logo_height{
  height: 85px;
}
.logo_width{
  width: auto;
}
.carousel-control-next, .carousel-control-prev{
  z-index:0
}
.nav-link{
  color: #646464;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 10px;
  padding-left: 15px;
}
.carousel-indicators [data-bs-target] {
  background-color: red;
  height: 8px;
}
.banner_search_panel{
  position: absolute;
  width: 50%;
  top: 0px;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1041;
}
.nav-tabs, .nav-tabs .nav-link{
  border: 0px;
}
.nav-tabs .nav-link.active{
  position: relative;
}
.nav-tabs .nav-link.active::after{
  position: absolute;
  content: "";
  width: 40%;
  bottom: 0px;
  background-color: #DC1E34;
  height: 2px;
  left: 30%;
}
.pos_rel{
  position: relative;
}
.carousel-indicators [data-bs-target] {
  background-color: #ffffff;
}
.announcements{
  background-color: #CEE4ED;

}
.announcements_ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  overflow: hidden;
}
.announcements_ul li{
  padding: 0px 20px;
  position: relative;
}
.announcements_ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  bottom: 0px;
  background-color: #333;
  height: 100%;
  left: 0;
}
.announcements_ul li:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 0px;
  bottom: 0px;
  background-color: #333;
  height: 100%;
  left: 0;
}
.card_bgs{
  background-color: #4D453D;

}
.slick-slider .element{
  height:100%;
  width:100%;
  /* background-color:#000; */
  color:#fff;
  border-radius:5px;
  display:inline-block;
  margin:0px 0px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  font-size:20px;
}
.slick-slider .slick-disabled {
  opacity : 0; 
  pointer-events:none;
}
button.slick-next {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  z-index: 100;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 2px 10px #ccc;
  width: 35px;
  height: 35px;
}
button.slick-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  z-index: 100;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 2px 10px #ccc;
  width: 35px;
  height: 35px;
}
.slick-next:before, [dir=rtl] .slick-prev:before {
  /* content: '→'; */
    content: "\f061";
  font-family:'fontawesome'
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
}
.slick-prev:before {
  /* content: '←'; */
  /* content: '&f060'; */
  content: "\f060";
  font-family:'fontawesome'
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: rgb(138 143 153);
  font-weight: bold;
}
.slick-slide img{
  width:100% !important;
}
/* tab CSS  */
.nav .nav-item button.active {
  background-color: #dc3545;
  color: #ffffff !important;
}
.nav .nav-item button.active::after {
  content: "";
  border-right: 0px solid var(--bs-danger);
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  border-radius: 5px 0 0 5px;
}
.dispaly_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-style: italic;
}
button.nav-link .arr{
  position: relative;
}
button.nav-link.active .arr::after{
  position: absolute;
  content: 'X';
  top: -14px;
  left: -14px;
  font-size: 18px;
}
button.nav-link .arr::after{
  position: absolute;
  content: '→';
  top: -20px;
  left: -20px;
  font-size: 24px;
}
/* Light box CSS  */
.lightboxpreview {
  transition: all .3s linear;
padding-top:60%;
 cursor:pointer;
 background-size:cover;
}
  
.lightbox-content {
max-height:75vh;
 height:75vh;
 width:100%;
 max-width: 1000px;}

.lightbox-close { 
 cursor:pointer;
   margin-left: auto;
 position:absolute;
 right:-30px;
 top:-30px;
 color:white;
   font-size: 2rem;
   font-weight: 700;
   line-height: 1;}
.modal_inner_image {
   min-height: 400px;
   z-index: 1000;}
.modal-content {
   width: 100%;}


.modalscale {transform:scale(0);
opacity:0;}

.bg-f{
  background: url(../images/footer_bg.png);
}
.m-logo-sty{
  background-color: #f4f4f4;
  padding: 10px 15px 10px 120px;
}
.m-logo-padd{
  padding: 60px 15px 10px 120px;
}
.btn_padding-1030{
  padding: 10px 30px;
}
.disp_flex-footer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.disp_flex-inn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.footer-social{
  float:left;
  width:100%;
  height:auto;
}
.footer-social a{
  float:left;
  width:auto;
  height:auto;
  color:#ffffff;
  padding: 0px 10px;
  font-size: 24px;
}
.copyright-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
ul.copy-footer {
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: auto;
}
ul.copy-footer li{
  width:auto;
  height: auto;
  float:left
}
ul.copy-footer li a{
  padding: 0px 12px;
  color:#eeeeee;
  text-decoration: none;
  position: relative;
  transition: .5s ease;
}
ul.copy-footer li a::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 60%;
  top: 20%;
  background-color: #fff;
  right: 0px;
}
ul.copy-footer li a:hover{
  color:#dddddd;
  transition: .5s ease;
  margin: 10px;
}
.lightbox-container, .lightbox-btn, .lightbox-image-wrapper, .lightbox-enabled{transition:all .4s ease-in-out;}
.lightbox_img_wrap {padding-top:65%;
 position:relative;
 overflow:hidden;
}
.lightbox-enabled:hover {
 transform:scale(1.1)
}
.lightbox-enabled {width:100%;
height:100%;
 position:absolute;
 top:0;
object-fit:cover;
cursor:pointer;}

.lightbox-container {width:100vw;
height:100vh;
position:fixed;
top:0;
left:0;
 display:flex;
 align-items:center;
 justify-content:center;
background-color:rgba(0,0,0,.6);
z-index:9999;
opacity:0;
pointer-events:none;
}

.lightbox-container.active {
 opacity:1;
 pointer-events:all;
}
.lightbox-image-wrapper {
 display:flex;
 transform:scale(0);
 align-items:center;
 justify-content:center;
 max-width:90vw;
 max-height:90vh;
 position:relative;
}
.lightbox-container.active .lightbox-image-wrapper {transform:scale(1);}
.lightbox-btn, #close {
 color:white;
 z-index:9999999;
cursor:pointer; 
 position:absolute;
 font-size:25px;
}

.lightbox-btn:focus {
 outline:none;
}

.left {left:50px;}
.right {right:50px;}
#close {top:50px;
right:50px;}

.lightbox-image {
 width:100%;
 -webkit-box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.19); 
box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.19);
 max-height:95vh;
 object-fit:cover;
}
.mt-75 {
  margin-top: 75px;
}
@keyframes slideleft {
 33% {transform:translateX(-300px);
 opacity:0;
 }
 66% {transform:translateX(300px);
 opacity:0;
 }
}


.slideleft {
  animation-name: slideleft;
animation-duration: .5s; 
animation-timing-function: ease; 
}
@keyframes slideright {
 33% {transform:translateX(300px);
 opacity:0;}
 66% {transform:translateX(-300px);
 opacity:0;}
}


.slideright{
  animation-name: slideright;
animation-duration: .5s; 
animation-timing-function: ease; 
}
 
nav.mt-75 button.nav-link {
  background-color: #F4F4F4;
  margin-right: 10px;
  font-weight: 500;
  border-radius: 0px;
}
nav.mt-75 button.nav-link.active {
  background-color: #DC1E34;
  margin-right: 10px;
  color: #fff;
}
.whats_new_ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.whats_new_ul li {
  width: 100%;
  padding: 10px 0px;
}
.disp_flex {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
}
.date_div{
  position:relative;
}
.date_div::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 80%;
  background-color: #eee;
  right: 0;
  top: 10%;
}
.news_slick-slider .slick-slide.element{
  scale:0.94}
  ul.footer_ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul.footer_ul li{
  float: left;
  width: 100%;
  height: auto;
}
ul.footer_ul li a {
  padding: 5px 0px;
  color: #ffffff;
  margin: 0px;
  text-decoration: none;
  float: left;
  width: 100%;
  transition: .5s ease;
}
ul.footer_ul li a:hover {
  color: #eeeeee;
  margin-left:10px;
  transition: .5s ease;
}
.disp_flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.social_icon a{
  text-decoration: none;
  padding-right: 10px;
}
/* back to TOP CSS  */
a#scroll {
  width: 50px;
    height: 50px;
    background-color:#dc1e34;
    display: inline-block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
}
#scroll span {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 0;
    width: 0;
    margin-left: -9px;
    margin-top: -5px;
    border-bottom: 10px solid #fff;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
#floater {
  position: absolute;
  top: 275px;
  right: 1px;
  width: 45px;
  height: auto;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  z-index: 1041;
  border-radius: 3px 0 0 3px;
  padding: 10px;
  background-color: #ffffff;
  color: white;
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px 0px 0px 6px;
  box-shadow: 0px 4px 5px #828282;
}
#floater img{
  width:30px
}
.dis_flx_soc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.dis_flx_soc a{
  transition: .5s ease;
}
.dis_flx_soc a:hover{
  transition: .5s ease;
  margin-right: 5px;
}
.red {
  background-color: green;
  color: white;
}
.skiptranslate span{
  display:none;
}
.goog-te-combo {
  margin: 4px 0;
  display: block;
  width: 120px;
  padding: .375rem 0.25rem .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 0px solid #ced4da;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.goog-te-combo:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(13 110 253 / 0%);
}
.w_75{
  width:75%;
}
.h-473{
  height:473px
}
.h-520{
  height:520px
}
.h-442{
  height:442px
}
.h-499{
height:487px
}
.upper_layerinn {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
.pos{
  position: absolute;
  bottom: -75px;
  width: 100%;
}
.pos img{
  height:150px
}
.mt-100{
  margin-top: 100px !important;
}
.p-bg{
  background-color:#2B0B43;
  border-radius: 12px;
}
.p-color{
  color:#003E78
}
.f-bold{
  font-weight:bold
}
.devtech_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.devtech_ul li{
  position: relative;
  height: 150px;
  color: #b1b1b1;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.devtech_ul li a{
  color:#a7a7a7;
  text-decoration: none;
  transition: 0.3s;
}
.devtech_ul li a:hover{
  color:#ffffff;
  text-decoration: none;
  transition: 0.3s;
}
.devtech_ul li p{
  color:#2b0b43;
  font-weight:bold;
  margin:0px;
  padding-top:15px;
  transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}
.devtech_ul li::after {
  position: absolute;
  width: 1px;
  height: 60px;
  top: 30%;
  right: 0px;
  background-color: #b1b1b1;
  content: "";
}
.devtech_ul li:nth-last-child(1)::after {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 30%;
  right: 0px;
  background-color: #b1b1b1;
}
.devtech_ul li i, .devtech_ul li svg{
  font-size:40px
}
.devtech_ul li:hover {
  color: #ffffff;
  scale: 1.25;
  left: 0;
  background-color: #2b0b43;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0px 4px 6px #808080;
}
.devtech_ul li:hover p{
  transition: 0.3s;
  color: #ffffff;
}
.fert_serv{
  transition: 0.3s;
}
.fert_serv_img{
  background: url('../images/dev_tech_inn_1.png');
  height:70px;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.fert_serv:hover .fert_serv_img{
  background: url('../images/dev_tech_inn_1h.png');
  height:70px;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.fert_serv:hover{
  background-image: linear-gradient(to right, #82baef, #216fb9);
  transition: 0.3s;
}
.m_30{
  margin-top:30px;
}
.tm_img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:15px;
}
.tm_img img{
  width:50px !important;
}
.slick-center { 
  transform: scale(1.08) ;
  background-color: #edf2fa;
}

/* OUR WORK */
.ow-card {
  float: left;
  width: 100%;
  height: auto;
}
.ow_count_icon {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ow_counts {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0px 5%;
  background-color: #8BC34A;
  border-radius: 12px;
  padding: 26px;
  font-size: 42px;
  color: #fff;
  margin-bottom: 0px;
  top: -8px;
  position: relative;
  box-shadow: 0px 4px 8px -2px #808080;
}
.ow_counts::after{
  position: absolute;
  content: "";
  border-top: 15px solid #8bc34a;
  border-bottom: 15px solid #ffff0000;
  border-left: 15px solid #0000ff00;
  border-right: 15px solid #00800000;
  bottom: -29px;
}
.ow_icons {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0px 0%;
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  padding: 22px;
  font-size: 42px;
  color: #8bc34a;
  margin-bottom: -15px;
  position: relative;
}
.ow_icons::after{
  position: absolute;
  content: "";
  border-top: 15px solid #ffffff;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  bottom: -5px;
  left: -10px;
  border-radius: 50px;
}
.ow-card-body {
  float: left;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 16px;
  border-radius: 12px 0px 12px 12px;
}

.line li a{
  position: relative;
}
.line li a::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 50%;
  background-color: #d3caca;
  right: 0px;
  top: 25%;
}
.line li a:nth-last-child(1)::before {
  width: 0px;
}
.line2 li a{
  position: relative;
}
.line2 li a::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 50%;
  background-color: #d3caca;
  right: 0px;
  top: 25%;
}
/* .line2 li a:nth-last-child(1)::before {
  width: 0px;
} */

.disp_center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.whowe{
  transition: 0.3s;
  scale: 1;
}
.whowe:hover{
  background-image: linear-gradient(to bottom right, #1d6e9e, #2eccf3);
  transition: 0.3s;
  scale: 1.05;
}
.whowe a{
  color:#1d6e9e;
  text-decoration: none;
  transition: 0.3s;
}
.whowe:hover a{
  color:#eeeeee;
  transition: 0.3s;
}
.grid_2 {
  display: grid;
  grid-template-columns: 50px auto;
  height: auto;
}
.qut {
  font-size: 30px;
  font-weight: bold;
  color: #e7419b;
}
.ans {
  font-size: 22px;
  color: #e7419b;
  font-weight: bold;
}
@media (max-width:767px){
  .mt-100{
    margin-top: 30px !important;
  }
  .pos{
    display:none;
  }
  .h-499{
    height:100%
    }
  .h-442{
    height:100%
  }
  .h-520{
    height:100%
  }
  .h-473{
    height:100%
  }
  .disp_flx {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.w_75{
  width:100%;
  margin-bottom: 30px;
}
.order-last {
  order: 0 !important;
}
  .mt-75 {
    margin-top: 15px;
  }
  .mt_50{
    margin-top: 50px;
  }
  .banner_search_panel {
    position: relative;
    width: 100%;
    top: 25px;
  }
  .show_sm{
    display: block;
  }
  .sm_h{
    display:none;
  }
  /* .logo_height{
    height:auto;
  }
  .logo_width{
    width: 100%;
  } */
}